body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-container {
  justify-content: center;
  display: flex;
  margin-top: 150px;
}



.container {
  text-align: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  font-size: 5vw;
  color: #060663;
}

.ant-picker-cell-in-view {
  color: #060663 !important;
}

.date-cell {
  font-size: 3vw;
  padding: 7px;
  margin: 7px;
  border: 1px solid;
  border-radius: 4px;
  background: #9f9ee5;;
}

.date-cell-next {
  font-size: 3vw;
  padding: 7px;
  margin: 7px;
  border: 1px solid;
  border-radius: 4px;
  background: #9f9ee5;;
}

.ant-picker-cell-selected .date-cell {
  background-color: #5279e5;
}

.ant-typography {
  color: #060663 !important;
}


.battery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.battery-level {
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  margin: 20%;
  position: relative;
  overflow: hidden;
}
.battery-fill {
  background-color: #0f0; /* Green color */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* .ant-progress-inner {
  width: 500px !important;
  height: 500px !important;
  padding: 10px;
  margin: 10px;
  font-size: 120px !important;
} */