body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-container {
  /* background: #e0dfff; */
}



.container {
  text-align: center;
  padding: 10px !important;
  border: 1px solid;
  border-radius: 10px !important;
  margin: 20px !important;
  font-size: 40px;
  color: #060663 !important;
}

.ant-picker-cell-in-view {
  color: #060663 !important;
}

.date-cell {
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 4px;
  background: #9f9ee5;;
}
.ant-picker-cell-selected .date-cell {
  background-color: #5279e5;
}

.ant-typography {
  color: #060663 !important;
}